@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
    font-family: 'Merriweather', serif;
    background-color: white; /* Ensure the body has a white background */
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', sans-serif;
}

.section-title {
    font-family: 'Merriweather', sans-serif;
    font-weight: 700;
    /* Remove the background image */
    /* background-image: url('./assets/background.png'); */
    /* background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center; */
}

#top-bar {
    background-color: white; /* Ensures the top bar is white */
    z-index: 10; /* Keeps it above the background image */
}

.main-background {
    background-color: white; /* Ensure the main background is white */
    /* Remove any background images */
    /* background-image: none; */
    /* background-repeat: no-repeat;
    background-size: cover;
    background-position: top left; */
    background-attachment: fixed;
}
